@import "colors.css";

* {
	all: unset;
	font-family: "Roboto Mono", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP";
	font-size: 13px;
}

/* Master bar positioning container */
window#waybar {
	background-color: transparent;
}

/* Individual labels inherit proper theme mapping automatically */
label {
	color: @on_surface;
}

/* --- Shared Modular Capsule System --- */
/* Every standard block behaves as a perfect pill */
#custom-media,
#window,
#pulseaudio,
#bluetooth,
#network,
#clock,
#workspaces {
	background-color: @surface_container;
	color: @on_surface;
	padding: 4px 14px;
	border-radius: 99px;
	margin: 7px 4px; /* Flawless 7px margin structure matching your gaps_out */
}

/* Specific Margin Trimming for Window Edges */
#custom-media { margin-left: 7px; color: @tertiary; }
#clock { margin-right: 7px; font-weight: 500; }
#window { color: @primary; }

/* --- Workspaces Overrides --- */
#workspaces {
	padding: 4px 6px;
}

/* Individual Workspace Elements */
#workspaces button {
	color: @on_surface_variant;
	padding: 0px 10px;
	border-radius: 99px;
	margin: 0 2px;
	transition: all 250ms ease-in-out;
	font-weight: bold;
}

/* Active Workspace Indicator */
#workspaces button.active {
	background-color: @primary;
	color: @on_primary;
	min-width: 2rem;
	font-weight: 800;
}
